@using Microsoft.AspNetCore.Identity

@model Chat
@inject UserManager<ApplicationUser> userMgr

@{
    bool participates = (bool) ViewData["participates"];
    if (Model != null)
    {
        ViewData["Title"] = "Chat details of " + Model.Name;
    }
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Details</h5>
            </div>
            <div class="card-body">
                <div>
                    <h6>Id</h6>
                    <p>@Model.Id</p>
                </div>
                <div>
                    <h6>Name</h6>
                    <p>@Model.Name</p>
                </div>
                <div>
                    @if (participates)
                    {
                        <a asp-action="Leave" asp-route-id="@Model.Id" class="btn btn-secondary">Leave</a>
                    }
                    else
                    {
                        <a asp-action="Join" asp-route-id="@Model.Id" class="btn btn-primary">Join</a>
                    }
                    | <a asp-action="Index">Back</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-8">

    </div>
</div>